.popover {
	padding: 0;
	border: 0;
	background: transparent;

	position: fixed;
	left: 1rem;
	bottom: 1rem;

	margin: 0;

	display: none;

	&_open {
		display: block;
	}

	&__body {
		padding: 1em;
		background-color: #3a3a3a;
		
		border-radius: 0.125em;
	}
}
