.alco-timer {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 24px;

	gap: 48px;

	&__controllers {
		display: flex;
		align-items: center;
		justify-content: space-between;

		gap: 48px;
	}

	&__logger {
		display: flex;
		flex-direction: column;

		max-height: 400px;
		overflow-y: auto;

		gap: 16px;
		padding: 16px;

		font-size: 1em;
	}
}