$accent-color-default: #97a0af;
$accent-color-primary: #0052cc;
$accent-color-success: #36b37e;
$accent-color-warning: #ffab00;
$accent-color-danger: #f87462;

$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-dark: #172b4d;
$text-color-gray: #42526e;
$text-color-light-gray: #a5adba;

$border-width: 0.125em;
$border-radius: 0.25em;
$transition-time: 0.2s;
