@use '../global-styles.module.scss' as common;

$placeholder-text-color: #8C9BAB;
$text-color: #B6C2CF;

.text-field {
	--backgroud-color: #22272B;
	--border-color: #A6C5E229;

	display: flex;
	flex-direction: column;

	gap: 0.25em;

	font-size: 1em;

	&__label {
		font-size: 0.75em;
	}

	&__input-container {
		border: common.$border-width solid var(--border-color);
		border-radius: common.$border-radius;
		outline: none;
		overflow: hidden;

		transition-duration: common.$transition-time;
		transition-property: background-color, border-color, filter;

		width: 10em;
		height: 2.5em;

		font-size: inherit;

		&:hover {
			filter: brightness(1.2);
		}

		&:focus-within {
			--border-color: #85B8FF;

			filter: brightness(1);
		}

		&_invalid {
			&:not(&:focus-within) {
				--border-color: #F15B50;
			}
		}
	}

	&__input {
		border: 0;

		outline: none;

		background-color: var(--backgroud-color);

		color: $text-color;

		height: 100%;
		width: 100%;

		padding: 0.5em;

		font-size: inherit;
		cursor: text;

		&::placeholder {
			color: $placeholder-text-color;
		}
	}

	&__message {
		font-size: 0.5em;

		&_invalid {
			color: #FD9891;
		}
	}
}