@use "sass:color";
@use './normalizr';

:root {
	font-family: sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	font-size: 24px;
}

body {
	position: relative;
	background-color: color.adjust(#111111, $lightness: 7%);
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

@keyframes danger-zone {
	0% {
		left: -100px;
	}

	100% {
		left: 100%;
	}
}

@keyframes danger-zone-2 {
	0% {
		left: -150px;
	}

	100% {
		left: 100%;
	}
}