.count-down {
	--time-speed: 1;

	display: flex;
	align-items: center;
	gap: 0.25em;
	font-size: 2em;

	user-select: none;

	&__box {
		position: relative;
		overflow: hidden;
		width: 1.5em;
		height: 1.5em;

		border: 3px solid white;
		border-radius: 8px;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__time {
		display: flex;
		justify-content: center;
		align-items: center;

		transform: translateY(0);
		transition: calc(0.3s * var(--time-speed));
		position: absolute;

		width: 100%;
		height: 100%;

		margin: auto;

		&_up {
			transform: translateY(-100%);
		}

		&_down {
			transform: translateY(100%);
		}
	}
}
